.blog {
    display: grid;
    grid-template-columns: 70% 30%;
}

h2 {
    font-size: 1.2em;
}

h2:hover {
    color: var(--main-bg-color);
}

.blog_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog_left h3 {
    font-size: 3em;
    color: var(--main-bg-color);
}

.blog_left img {
    width: 56vw;
    height: inherit;
    margin-bottom: 2.5em;
    border-radius: 0.3em;
}

.blog_left p {
    text-align: justify;
    margin-bottom: 2em;
    font-size: 1.2em;
}

.blog_right {
    margin: 6em 0 3em 3em;
    display: flex;
    flex-direction: column;
}

.card_about {
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.1em solid rgb(209, 209, 209);
    border-radius: 0.3em;
}

.card_about img {
    border: 0.01em solid rgb(209, 209, 209);
    height: 10em;
    border-radius: 50%;
}

.card_recent_post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5em;
}

.card_recent_post img {
    height: 17vh;
    width: 12vw;
    border: 0.01em solid rgb(209, 209, 209);
    border-radius: 0.3em;
    margin-top: 0.5em;
    cursor: pointer;
}

.card_recent_post img:hover {
    border: 0.01em solid var(--main-bg-color);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.15s ease-in-out;
}

.card_comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5em;
}

.card_comment textarea {
    width: 70%;
    margin-top: 0.5em;
    padding: 0.5em 2em;
    font-size: 1em;
    font-family: var(--font2);
    border: 0.1em solid var(--main-bg-color);
    border-radius: 0.5em;
}