* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font1);
}

hr {
    height: 0.015em;
    background-color: black;
}

.navi_bar {
    min-height: 14vh;
    /* background-color: #a9d4f7; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_left {
    display: flex;
}

.nav_left span {
    font-family: var(--font1);
    font-size: 1.5em;
}

.nav_left ul {
    margin: 0 1em;
    display: flex;
    align-items: center;
}

.nav_left ul li {
    list-style: none;
    margin: 0 0.5em;
    font-family: var(--font2);
}

.nav_left ul li a {
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

.nav_left ul li a:hover {
    color: var(--main-bg-color);
    transition: all 0.2s ease-in-out;
}

.nav_right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_right form {
    display: flex;
}

.nav_right a i {
    color: #000;
}

.nav_right a i:hover {
    color: var(--main-bg-color);
    transition: all 0.2s ease-in-out;
}

.blog_categories {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    padding: 2em 0;
}

.blog_card {
    margin: 1em 0.8em 1em 0.8em;
    border: 0.1em solid;
    border-radius: 0.3em;
    text-align: center;
}

.blog_card:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.card_up img {
    border-bottom: 0.1em solid;
    width: 100%;
    border-radius: 0.2em 0.2em 0 0;
    cursor: pointer;
}

.card_down {
    padding: 0 0.7em 0.6em 0.7em;
}

.card_down a {
    text-decoration: none;
    color: #000;
    font-family: var(--font1);
}

.card_down a:hover {
    color: var(--main-bg-color);
}

.card_down p {
    font-family: var(--font2);
    font-size: 0.8em;
    text-align: justify;
}

.content_body {
    min-height: 20vh;
    /* background-color: teal; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.content_left {
    margin: 5em 1em;
    text-align: justify;
}

.content_left h2 a {
    font-family: var(--font2);
    text-decoration: none;
    color: #000;
}

.content_left h2 a:hover {
    color: var(--main-bg-color);
    transition: all 0.15s ease-in-out;
}

.content_left p {
    font-family: var(--font1);
}

.content_right img {
    margin-top: 2em;
    height: 260px;
    width: inherit;
    border: 0.1em solid black;
    border-radius: 51%;
}

.recent h3 {
    margin-top: 1.5em;
    font-family: var(--font2);
    color: var(--main-bg-color);
}

.recent_elements {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1em solid #000;
    border-radius: 0.3em;
    margin: 0.5em;
    background-color: rgb(255, 240, 230);
}

.recent_elements:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.recent_elements_text {
    padding: 1em;
}

.recent_elements_text h4 a {
    text-decoration: none;
    color: #000;
    font-size: 1em;
    font-family: var(--font2);
}

.recent_elements_text h4 a:hover {
    transition: all 0.15s ease-in-out;
    color: var(--main-bg-color);
}

.recent_elements p {
    font-size: 0.8em;
    font-family: var(--font1);
}

.post_thumbnail {
    text-align: center;
    background: #fff;
    border-right: 0.1em solid;
    border-radius: 0.2em 0 0 0.2em;
}

.recent_elements img {
    height: 150px;
    /* border: 0.01em solid var(--main-bg-color); */
    /* border-right: 0.1em solid #000000; */
    border-radius: 0.2em 0 0 0.2em;
    /* margin: 0.4em 1em 0.4em 0em; */
    margin-right: 1em;
    cursor: pointer;
    background-color: #ffffff;
}


/* .recent_elements img:hover {
    transition: all 0.3s ease-in-out;
    border: 0.1em solid var(--main-bg-color);/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
} */

.sticky_foot {
    min-height: 8vh;
    background-color: #2c0a8a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sticky_foot span {
    color: white;
    font-size: 0.8em;
    font-family: var(--font2);
    font-weight: bolder;
}

.sticky_foot ul {
    display: flex;
}

.sticky_foot ul li {
    list-style: none;
    margin: 0 0.8em;
}

.sticky_foot ul li a {
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    font-family: var(--font1);
}

.sticky_foot ul li a:hover {
    color: var(--main-bg-color);
    font-weight: bolder;
    transition: all 0.15s ease-in-out;
}