.form {
    display: flex;
}

.form_left {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.form_left span {
    font-size: 1.8em;
    color: var(--main-bg-color);
}

.divider {
    width: 0.25%;
    height: 50vh;
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
}

.form_right {
    width: 39.75%;
}